<%= link_to blog_path blog do %>	

	<div class="blog-post">

		<h2 class="blog-post-title"><%= blog.title %></h2>

		<p><%= blog.published? ? "Udgivet" : "Kladde" if logged_in?(:site_admin) %></p>
		<p class="btn"><%= link_to('Ændre status', toggle_status_path(blog)) if logged_in?(:site_admin) %></p>
		<p class="btn"><%= link_to('Show', blog) if logged_in?(:site_admin) %></p>
		<p class="btn"><%= link_to('Edit', edit_blog_path(blog)) if logged_in?(:site_admin) %></p>
		<p class="btn"><%= link_to('Delete post', blog, method: :delete, data: { confirm: 'Are you sure?' }) if logged_in?(:site_admin) %></p>
		<p class="blog-post-meta">Udgivet: 
		<%= distance_of_time_in_words(blog.created_at, Time.now) %></p>
		<p><%= blog.body %></p>


	</div><!-- /.blog-post -->
	
<% end %> <!-- bog_path -->