<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if current_user %>
  <%= link_to "Log ud", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Log ind", new_user_session_path %>
  <% end %>

  <div class="row">
  <% if session[:source] %>
  <p>Thanks for visiting me from <%= session[:source] %></p>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%= yield %>
  </div>
</body>
</html>
