<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= @page_title %></title>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: "shared/navbar", locals: {location: "top"} %>

  <%= login_helper %>

  <div class="row">
    <% if session[:source] %>
    <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</body>
</html>
