<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= @page_title %></title>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  <%= stylesheet_link_tag    "portfolios" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: "shared/portfolionavbar" %>
  <%= render partial: "shared/portfoliomasthead" unless logged_in?(:site_admin) %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="album text-muted">
    <div class="container">

      <%= yield %>

    </div>
  </div>
  
  <%= render partial: "shared/portfoliofooter" %>

  <%= source_helper("portfolio") %>

</body>
</html>
